* {
  margin: 0;
  padding: 0;
}

#hamburger {
  height: 10vh;
  width: 10vw;
  position: fixed;
  right: 0;
  margin-right: 3vw;
  margin-top: 3vh;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hamburger > span {
  align-self: center;
  display: block;
  margin-bottom: 7px;
  text-align: center;
  height: 4px;
  width: 30px;
  background-color: #F8B195;
}

nav{
  max-height: 0;
  transition: max-height 0.5s ease-out 0s;
  overflow: hidden;
  position: fixed;
  right: 0;
  margin-right: 5vw;
  margin-top: 11vh;
  background-color: #F8B195;
  color: #355C7D;
  z-index: 1;
}

nav > div {
  line-height: 35px;
  text-align: center;
  font-size: 1em;
  outline: 1px solid #6C5B7B;
  outline-offset: -1px;
  width: 10vw;
}

#welcome,
#about {
  width: 100vw;
  height: 100vh;
}

#portfolio {
  height: 200vh;
}

#contact {
  height: 70vh;
}

#welcome {
  color: #F8B195;
}

#title,
.name,
.bar {
  position: absolute;
  text-align: center;
  /*text-shadow: 0px 0px 5px #C06C84;*/
}

.name {
  line-height: auto;
  width: 50vw;
  font-size: 6.854em;
  font-family: 'Expletus Sans', cursive;
}

#first {
  left: 20vw;
  top: 30vh;
  text-align: right;
}

#last {
  left: 30vw;
  top: 41vh;
  text-align: left;
}

#title {
  font-size: 1.618em;
  top: 56vh;
  width: 40vw;
  left: 30vw;
  font-family: 'Raleway', sans-serif;
}

.bar {
  display: none;
  background-color: #F67280;
  height: .5vh;
}

#about > h1 {
  color: #F8B195;
  position: absolute;
  top: 110vh;
  left: calc(20vw + 310px);
  font-size: 2.618em;
  font-family: 'Expletus Sans', cursive;
}

#headshot {
  position: absolute;
  top: 110vh;
  left: 15vw;
  background-color: red;
  height: 419px;
  width: 310px;
}

.bio {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  font-size: 1em;
  left: calc(20vw + 310px);
  margin-right: 5vw;
}

#bio-one {
  top: 125vh;
  margin-bottom: 5vh;
}

#bio-two {
  top: 140vh;
}

#portfolio > h1 {
  position: absolute;
  top: 190vh;
  width: 100vw;
  text-align: center;
  font-size: 2.618em;
  color: #F8B195;
  font-family: 'Expletus Sans', cursive;
}

.project-image {
  position: absolute;
  height: 40vh;
  width: 55vw;
  background-color: lightblue;
  margin-bottom: 5vh;
  margin-top: 5vh;
  left: 10vw;
  border-radius: 10px;
}

#project-one-image {
  top: 200vh;
}

#project-two-image {
  top: 250vh;
}

#project-three-image {
  top: 300vh;
}

#project-four-image {
  top: 350vh;
}

ul {
  position: absolute;
  width: 20vw;
  left: 70vw;
}

#project-one-list,
#project-two-list {
  color: #F8B195;
}

#project-three-list,
#project-four-list {
  color: #355C7D;
}

#project-one-list {
  top: 210vh;
}

#project-two-list {
  top: 260vh;
}

#project-three-list {
  top: 310vh;
}

.reveal {
  max-height: 500px;
  transition: max-height 0.5s ease-out 0s;
}

#contact-title {
  top: 415vh;
  position: absolute;
  display: block;
  width: 100vw;
  text-align: center;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  color: #6C5B7B;
}

input,
textarea {
  display: block;
  position: absolute;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}

#contact-name,
#contact-email {
  width: 25vw;
  line-height: 5vh;
  text-align: center;
}

#contact-name {
  top: 425vh;
  left: 22.5vw;
}

#contact-email {
  top: 425vh;
  left: 52.5vw;
}

#contact-message {
  left: 20vw;
  top: 433vh;
  height: 15vh;
  width: 55vw;
  padding: 2.5vw;
}

#contact-send {
  top: 458vh;
  width: 15vw;
  line-height: 5vh;
  left: 42.5vw;
  background-color: #355C7D;
  color: #F8B195;
}

footer {
  width: 100vw;
  height: 30vh;
  background-color: #355C7D;
}

.social {
  position: absolute;
  background-color: #355C7D;
  height: 80px;
  width: 80px;
  top: 482.5vh;
  background-size: 100% 100%;
  border-radius: 50px;
}

#linkedin {
  left: 15vw;
  background-image: url('../assets/linkedin-grey.png');
}

#github {
  left: calc(50vw - 40px);
  background-image: url('../assets/github-closed.png');
}

#twitter {
  right: 15vw;
  background-image: url('../assets/twitter.png');

}
/* Thanks to cssportal.com for their superb gradient tool, and to Behance for the palette! */
body {
  /* IE10+ */
background-image: -ms-linear-gradient(bottom, #F8B195 0%, #C06C84 40%, #6C5B7B 75%, #355C7D 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(bottom, #F8B195 0%, #C06C84 40%, #6C5B7B 75%, #355C7D 100%);

/* Opera */
background-image: -o-linear-gradient(bottom, #F8B195 0%, #C06C84 40%, #6C5B7B 75%, #355C7D 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F8B195), color-stop(40, #C06C84), color-stop(75, #6C5B7B), color-stop(100, #355C7D));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(bottom, #F8B195 0%, #C06C84 40%, #6C5B7B 75%, #355C7D 100%);

/* W3C Markup */
background-image: linear-gradient(to top, #F8B195 0%, #C06C84 40%, #6C5B7B 75%, #355C7D 100%);
}

@media screen and (max-width: 924px){
  .name {
    font-size: 4.236em;
  }

  #title {
    top: 51vh;
    font-size: 1em;
  }

  #first {
    top: 33vh;
  }
}

@media screen and (max-width: 593px){
  .name {
    font-size: 2.618em;
  }

  #title {
    top: 48vh;
    font-size: 1em;
  }

  #first {
    top: 37vh;
  }

  nav > div {
    width: 70px;
  }
}

@media screen and (max-width: 470px){
  #title {
    font-size: .8em;
  }
}
