* {
  margin: 0;
  padding: 0;
}

/* Thanks to cssportal.com for their superb gradient tool, and to Behance for the palette! */
body {
  /* IE10+ */
background-image: -ms-linear-gradient(bottom, #F8B195 0%, #C06C84 40%, #6C5B7B 75%, #355C7D 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(bottom, #F8B195 0%, #C06C84 40%, #6C5B7B 75%, #355C7D 100%);

/* Opera */
background-image: -o-linear-gradient(bottom, #F8B195 0%, #C06C84 40%, #6C5B7B 75%, #355C7D 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F8B195), color-stop(40, #C06C84), color-stop(75, #6C5B7B), color-stop(100, #355C7D));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(bottom, #F8B195 0%, #C06C84 40%, #6C5B7B 75%, #355C7D 100%);

/* W3C Markup */
background-image: linear-gradient(to top, #F8B195 0%, #C06C84 40%, #6C5B7B 75%, #355C7D 100%);
}

#hamburger {
  height: 10vh;
  width: 10vw;
  position: fixed;
  right: 0;
  margin-right: 5vw;
  margin-top: 5vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hamburger > span {
  align-self: center;
  display: block;
  margin-bottom: 7px;
  text-align: center;
  height: 4px;
  width: 30px;
  background-color: #F8B195;
}

nav {
  display: none;
  position: fixed;
  right: 0;
  margin-right: calc(5vw + 45px);
  margin-top: calc(5vh + 55px);
  background-color: #F8B195;
  color: #355C7D;
}

nav > div {
  line-height: 35px;
  padding-left: 10px;
  font-size: 18px;
  outline: 1px solid #6C5B7B;
  outline-offset: -1px;
  width: 85px;
}

#welcome,
#about,
#portfolio,
#contact {
  height: 100vh;
  width: 100vw;
}

#welcome {
  color: #F8B195;
}

#title,
.name,
.bar {
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 5px #C06C84;
}

.name {
  line-height: auto;
  width: 50vw;
  font-size: 6.854em;
  font-family: 'Expletus Sans', cursive;
}

#first {
  left: 20vw;
  top: 30vh;
  text-align: right;
}

#last {
  left: 30vw;
  top: 41vh;
  text-align: left;
}

#title {
  font-size: 1.618em;
  top: 56vh;
  width: 40vw;
  left: 30vw;
  font-family: 'Raleway', sans-serif;
}

.bar {
  background-color: #F67280;
  height: .7vh;
}

@media screen and (max-width: 924px){
  .name {
    font-size: 4.236em;
  }

  #title {
    top: 51vh;
    font-size: 1em;
  }

  #first {
    top: 33vh;
  }
}

@media screen and (max-width: 593px){
  .name {
    font-size: 2.618em;
  }

  #title {
    top: 48vh;
    font-size: 1em;
  }

  #first {
    top: 37vh;
  }

  .bar {
    height: .3vh;
  }
}

@media screen and (max-width: 470px){
  #title {
    font-size: .8em;
  }

}
